@model ShoppingApp_Models.ViewModel.CategoryVM;

@{
    ViewData["Title"] = "Index";
}

<div class="container p-4">
    <div class="row p-3">
        <div class="col-6 text-primary">
            <a class="btn btn-primary" asp-action="CreateUpdate" asp-controller="Category"><i class="bi bi-patch-plus"></i>&nbsp; Create New Category</a>
        </div>
        <div class="col-6 text-end">
            <form asp-action="Search" asp-controller="Category" class="d-flex">
                <input style="width:300px; position:absolute; right:160px;" name="search" class="form-control me-sm-2" type="text" placeholder="Search">
                <button style="position:absolute; right:88px;" value="search" class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                CategoryName
            </th>
            <th>
                DisplayOrder
            </th>
            <th>
                CreatedOn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CategoriesList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>                    
                    <a class="btn btn-primary" asp-action="CreateUpdate" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>&nbsp; Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-card-list"></i>&nbsp; Details</a> |
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>&nbsp; Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



